@import 'tailwindcss';
@import './fonts/fonts.css';

[data-theme='light'] {
  --p: #ecf1f4;
  --pc: #151b38;
  --s: #fafcfe;
  --sc: #404059;
  --hc: #27c499;
  --a: #5565e8;
  --n: #ffffff;
  --su: #27c499;
  --d: #f81a1a;
  --w: #f39a0c;
  --b: #dfdcdc;
}

@theme {
  --color-primary: var(--p);
  --color-primary-content: var(--pc);
  --color-secondary: var(--s);
  --color-secondary-content: var(--sc);
  --color-highlight-content: var(--hc);
  --color-danger: var(--d);
  --color-warning: var(--w);
  --color-success: var(--su);
  --color-accent: var(--a);
  --color-neutral: var(--n);
  --color-border: var(--b);

  --font-work-sans: Work Sans, monospace;
}
html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth !important;
  scrollbar-width: none;
  ::-webkit-scrollbar {
    display: none;
  }
}

body {
  font-family:
    Work Sans,
    monospace;
  font-optical-sizing: auto;
  font-weight: 500;

  /* @apply bg-primary text-white; */
}
/* 
.rehype-code-title {
  @apply text-primary-content rounded-t-md bg-[#05101a] px-6 py-3 text-sm font-medium;
} */
h1 {
  font-weight: 700;
  font-style: bold;
  font-size: 50px;
}
/* p {
  font-weight: 500;
  font-size: 16px;
} */
button {
  font-weight: 700;
  font-style: bold;
  font-size: 16px;
  color: var(--color-neutral);
}

h2,
h3 {
  scroll-margin-top: 5.25rem;
}

section {
  scroll-margin-top: 1.5rem;
}

/* Safari-only */
@supports (-webkit-hyphens: none) {
  * {
    scroll-margin-top: 0;
  }
}

@media screen and (min-width: 1024px) {
  h2,
  h3 {
    scroll-margin-top: 1.5rem;
  }
}

.hide-scrollbar {
  -webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
}
